body {
    color: white;
    background-color: black;
    font-family: Ubuntu, "times new roman", times, roman, serif;
}

#openIssues {
    background-color: red;
}

#openPRs {
    background-color: green;
}

#openIssuesNumber {
    font-size: 10vw;
}

#openPRNumber {
    font-size: 10vw;
}

.openCell {
    height: 50px;
    text-align: center;
    background-color: #c50b0b
}

.closedCell {
    height: 50px;
    text-align: center;
    background-color: #2e9e59
}