body {
    color: white;
    background-color: black;
    font-family: Ubuntu, "times new roman", times, roman, serif;
}

#openIssues {
    background-color: red;
}

#openPRs {
    background-color: green;
}

#bigNumber {
    font-size: 10vw;
}