<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css"
        href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <span style="font-weight: bold;"></span>
    <table style="text-align: left; width: 100%; height: 1080px;" border="1" cellpadding="2" cellspacing="2">
        <tbody>
            <tr style="height:30%">
                <td style="width:70%; vertical-align: center; text-align: center;">Commit Frequency (todo)<br></td>
                <td style="width:15%; vertical-align: center; text-align: center;" id="openIssues">
                    <div id="openIssuesLabel">ISSUES</div><br>
                    <div id="bigNumber">0</div>
                </td>
                <td style="width:15%; vertical-align: center; text-align: center;" id="openPRs">
                    <div>OPEN PULL REQUESTS</div><br><br>
                    <div id="bigNumber">2</div>
                </td>
            </tr>
            <tr style="height: 70%;">
                <td style="text-align: center;">Upcoming Milestones (todo)<br></td>
                <td colspan="2" rowspan="1" style="text-align: center;"><br></td>
            </tr>
        </tbody>
    </table><span style="font-weight: bold;"></span>
    <script>
        fetch('/test').then(function (response) {
            return response.json();
        }).then(function (text) {
            console.log('GET response:');
            console.log(text.greeting);
        });</script>

    <p id="mylog">

    </p>

</body>

</html>